@import url(https://fonts.googleapis.com/css?family=Cherry+Swash);
body {
  text-align:center;
  font-family: 'Cherry Swash';
  background-color: #7F8CAA;
  color: #333446;
}

a:hover {
  background-color: lightblue;
  font-size: 18px;
  
a{
  color: #B8CFCE;
  font-weight: bold;
}
img{
  text-align: center;
  height: 150px;
  width: 175px;
  border-radius: 14px;
  margin: 10px;
}
